In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'http://standards-oui.ieee.org/oui/oui.csv'

In [3]:
df = pd.read_csv(url,dtype=str)
df.head()

,Registry,Assignment,Organization Name,Organization Address
0,MA-L,002272,American Micro-Fuel Device Corp.,2181 Buchanan Loop Ferndale WA US 98248
1,MA-L,00D0EF,IGT,9295 PROTOTYPE DRIVE RENO NV US 89511
2,MA-L,086195,Rockwell Automation,1 Allen-Bradley Dr. Mayfield Heights OH US 441...
3,MA-L,F4BD9E,"Cisco Systems, Inc",80 West Tasman Drive San Jose CA US 94568
4,MA-L,5885E9,Realme Chongqing MobileTelecommunications Corp...,"No.24 Nichang Boulevard, Huixing Block, Yubei ..."

In [4]:
df[df.Assignment == '769B54']

Empty DataFrame
Columns: [Registry, Assignment, Organization Name, Organization Address]
Index: []

In [5]:
df.columns

Index(['Registry', 'Assignment', 'Organization Name', 'Organization Address'], dtype='object')

In [6]:
macs = {'192.168.0.1': '2c:99:24:30:de:18', '192.168.0.2': '34:d2:70:ac:66:c5', '192.168.0.7': '1c:bf:c0:0d:3f:89', '192.168.0.3': 'c0:d2:dd:0e:a4:25', '192.168.0.4': '76:9b:54:ba:7a:66', '192.168.0.252': '00:00:ca:01:02:03'}

In [7]:
dic = {}
ip_list = []
m_list = []
vendor_list = []
loc_list = []

for ip,m in zip(macs.keys(), macs.values()):
    mac_ids =m[:8]
    nes = mac_ids.replace(':','')
    search = f'{nes.upper()}'
#     print(search)
    ip_list.append(ip)
    m_list.append(m)
    ans = df[df.Assignment == search]
    vendor = str(ans['Organization Name'])[6:-40].lstrip()
    l = str(ans['Organization Address'])[6:].strip()
    loc =l.replace(' \nName: Organization Address, dtype: object','')
    print(vendor)
    if '([],' in vendor:
        vendor_list.append('Not Discovered')
        loc_list.append('Not Discovered')
    
#     n.append(ans['Organization Name'])
    else:
        vendor_list.append(vendor)
        loc_list.append(loc)
dic['ip'] = ip_list
dic['mac adresses'] = m_list
dic['vendor'] = vendor_list
dic['location'] = loc_list
df2 = pd.DataFrame(dic)

ARRIS Group, Inc
Amazon Technologies Inc
CHONGQING FUGUI ELECTRONICS CO.,LTD
Samsung Electronics Co.,Lt
([],
ARRIS Group, Inc

In [8]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df2)

              ip       mac adresses                               vendor  \
0    192.168.0.1  2c:99:24:30:de:18                     ARRIS Group, Inc
1    192.168.0.2  34:d2:70:ac:66:c5              Amazon Technologies Inc
2    192.168.0.7  1c:bf:c0:0d:3f:89  CHONGQING FUGUI ELECTRONICS CO.,LTD
3    192.168.0.3  c0:d2:dd:0e:a4:25           Samsung Electronics Co.,Lt
4    192.168.0.4  76:9b:54:ba:7a:66                       Not Discovered
5  192.168.0.252  00:00:ca:01:02:03                     ARRIS Group, Inc

                                            location
0          6450 Sequence Drive San Diego CA US 92121
1                      P.O Box 8102 Reno NV US 89507
2  Building D21,No.1, East Zone 1st Road,Xiyong T...
3        #94-1, Imsoo-Dong Gumi Gyeongbuk KR 730-350
4                                     Not Discovered
5          6450 Sequence Drive San Diego CA US 92121

In [11]:
from tabulate import tabulate

print(tabulate(df2, headers='keys', tablefmt='psql'))

+----+---------------+-------------------+-------------------------------------+---------------------------------------------------+
|    | ip            | mac adresses      | vendor                              | location                                          |
|----+---------------+-------------------+-------------------------------------+---------------------------------------------------|
|  0 | 192.168.0.1   | 2c:99:24:30:de:18 | ARRIS Group, Inc                    | 6450 Sequence Drive San Diego CA US 92121         |
|  1 | 192.168.0.2   | 34:d2:70:ac:66:c5 | Amazon Technologies Inc             | P.O Box 8102 Reno NV US 89507                     |
|  2 | 192.168.0.7   | 1c:bf:c0:0d:3f:89 | CHONGQING FUGUI ELECTRONICS CO.,LTD | Building D21,No.1, East Zone 1st Road,Xiyong T... |
|    |               |                   |                                     | Name: Organization Address, dtype: object         |
|  3 | 192.168.0.3   | c0:d2:dd:0e:a4:25 | Samsung Electronics Co.,Lt          | #94-1, Imsoo-Dong Gumi Gyeongbuk KR 730-350       |
|  4 | 192.168.0.4   | 76:9b:54:ba:7a:66 | Not Discovered                      | Not Discovered                                    |
|  5 | 192.168.0.252 | 00:00:ca:01:02:03 | ARRIS Group, Inc                    | 6450 Sequence Drive San Diego CA US 92121         |
+----+---------------+-------------------+-------------------------------------+---------------------------------------------------+